- hosts: localhost
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Upgrade system packages
      apt:
        upgrade: dist

    - name: Disable swap immediately
      command: swapoff -a
      when: ansible_swaptotal_mb > 0

    - name: Disable swap permanently
      replace:
        path: /etc/fstab
        regexp: '^([^#].*swap.*)$'
        replace: '# \1'


    - name: Allow SSH
      ufw:
        rule: allow
        port: "22"
        proto: tcp

    - name: Allow Kubernetes API server
      ufw:
        rule: allow
        port: "6443"
        proto: tcp

    - name: Allow Kubelet API
      ufw:
        rule: allow
        port: "10250"
        proto: tcp

    - name: Enable UFW
      ufw:
        state: enabled
        policy: deny




    - name: Install Docker
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Enable and start Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Add devops user to docker group
      user:
        name: devops
        groups: docker
        append: yes





    - name: Install Docker SDK for Python
      apt:
        name: python3-docker
        state: present

    - name: Run test NGINX container
      docker_container:
        name: test-nginx
        image: nginx:latest
        state: started
        ports:
          - "80:80"



